@model IEnumerable<Core.Despesa>
@{
    ViewData["title"] = "faturasvencidas";
}
<style type="text/css">
    table, tr {
        width: 100%;
    }

    th, td {
        text-align: left;
        width: 20%;
    }

    th {
        background-color: lightblue;
    }

    tr {
        background-color: lightgray;
    }
</style>

<h1 class="titulo">Despesas com faturas vencidas</h1>

<div>
    <p></p>
    <div>
        <table>
            <thead>
                <tr>
                    <th>Descrição</th>
                    <th>Tipo de despesa</th>
                    <th>Valor</th>
                    <th>Vencimento da fatura</th>
                    <th>Status do pagamento</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null)
                {
                    foreach (var despesa in Model)
                    {
                        <tr>
                            <td>@despesa.Descricao</td>
                            <td>@despesa.TipoDespesas</td>
                            <td>@despesa.Valor</td>
                            <td>@despesa.VencimentoFatura.ToString("dd/MM/yyyy")</td>
                            <td>@despesa.StatusPagamento</td>
                            <td><a href="@Url.Action("editar","despesas", new { despesaId = despesa.DespesasId })">Editar</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>